<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">HMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li *ngIf=" (reg_or_not) && (doc_or_not) " class="nav-item active">
        <a class="nav-link" routerLink="/Reports"> Make Reports <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/HomePage">Home Page</a>
      </li>
      <li *ngIf=" !(reg_or_not)" class="nav-item">
        <a class="nav-link" routerLink="/SignUp">Sign up</a>
      </li>
      <li *ngIf=" (reg_or_not) && !(doc_or_not) " class="nav-item">
        <a class="nav-link" routerLink="/OnlineReservations"> Make Online Reservations</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/AboutUs">About us</a>
      </li>
      <li *ngIf=" (reg_or_not)" class="nav-item">
        <a class="nav-link" (click)="deletetoken()">Logout</a>
      </li>
      <li *ngIf=" !(reg_or_not)" class="nav-item">
        <a class="nav-link" routerLink="/Login">Login</a>
      </li>
      <li *ngIf=" (reg_or_not)" class="nav-item">
        <a class="nav-link" routerLink="/Profile">Profile</a>
      </li>

           
    </ul>
  </div>
</nav>