<h1 style="margin: 30px">Prescription</h1>



<form>
<label class="Medicine" for="myInput">Medicine Name:</label>
<input class ="myInput" type="text" id="myInput" placeholder="Search for names.." title="Medicine" list="MedicineName">
<datalist id="MedicineName">
    <option value="Congestal">
    <option value="Verkita">
  </datalist>
<label style="padding-left: 30px" class="Medicine" for="quantity">Quantity:</label>
<input class ="myInput" type="number" id="quantity"  placeholder="Medicine quantity.." title="quantity">


  <input type="submit" value="Add Medicine" onclick="toto()">

</form>


<table id="cover">
  <tr>
    <th>Medicine</th>
    <th>Quantity</th>
  
  </tr>
  
  
  </table>

<div style="text-align: center; margin-top: 50px; margin-right: 130px; " >
  <input style="padding: 15px 60px; font-size: 20px; " type="submit" value="Find Pharmacy" onclick="pharmacy()">
</div>


<div id="mypharmacy" style="margin:25px">
  
</div>

<div id="mypha" style="margin:25px">
  
  </div>
<br>
<br>
<br>
<br>
