<div style="background-color: #ececec;">
    <div class="jumbotron text-center">
        <h1>HMS</h1>
        <p>Hospital Management System</p>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h3>Who Are Us</h3>
                <h6>A website providing software system for managing the hospital resources, from doctors
                    to receptionists to patients, all will have a streamlined process omitting unnecessary waiting
                    time. And giving chance to index all medical info about Medical tests and Medical Radiology.
                    Which will help in future diagnostics and will be valuable for future enhancements.</h6>
            </div>
            <div class="col-sm-4">
                <img src="https://serving.photos.photobox.com/76962084d89e34a16265ceb17228832ff5317ad79cee6c65c4c9ded1cf3a9751adf05748.jpg" alt="HMS Icon" style="max-width:100%;height:auto">
            </div>
        </div>
    </div>

    <h2 class="h2">Our Documents</h2>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">

          <div class="carousel-item active">
              <h6 style="margin:auto; text-align:center"><a href="https://drive.google.com/open?id=17wp9wRt2GY89BiocAGrSGZ8aSCPkOkRd"
                target="_blank">Software Requirement Specification</a></h6>
          </div>

          <div class="carousel-item">
              <h6 style="margin:auto;text-align:center"><a href="https://drive.google.com/open?id=1jJ4zgsESx5CChJc9Nvrq34pLIoJ1llQM"
                target="_blank">Business Requirement Document</a></h6>
          </div>
          
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>





    <div class="jumbotron" style="margin-bottom:0%">
        <h4>Made By: G27 CSE ASU 2020</h4>
        <h4>Made For: Dr.Mohammed Sobh</h4>
    
</div>
