* {
  box-sizing: border-box;
}

.myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 30%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-left: 20px
}


#myUL  {
  width:30%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 187px;
}
#myULpharmacy {
  width:30%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 187px;
}

#myULpharmacy li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}
#myUL  li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL  li a:hover:not(.header) {
  background-color: #eee;
}
#myULpharmacy li a:hover:not(.header) {
  background-color: #eee;
}

.Medicine {
  font-size: 18px;
  margin-left: 30px;
}

input[type=submit] {
  background-color: #4CAF50 ;
  color: white;
  padding: 13px 26px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 60px;
  

}


table{
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: 187px;
  margin-top: 50px;
  width: 72%;
  font-size: 20px;
}
th, td {
  
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}