<div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <br>
        <br>
        <div class="inner cover container " style="text-align:center">
          <h1 class="cover-heading">HMS Project, 3rd year CSE</h1>
          <p class="lead">
              is a web software system made for hospitals whose main purpose is to facilitate the medical process and to develop easy steps for the patients and staff to make the system more flexible. The project also went to prepare more medical aspects such as examination and imaging. The most we aspire is to keep the patient updated with online profile system Taking into consideration the safety principle of the patient's information and medical system.
          </p>
          
          <p class="lead">
            <a href="https://github.com/DyaPlus/SE2018G27" class="btn btn-lg btn-secondary">Learn more</a>
          </p>

        <div class="lead">
            This project was made using:
            <br>
            <br>
        <div class="row">
            <div class="col">
              <i style="font-size:50px" class="fab fa-angular"></i>
            </div>
            <div class="col">
              <i style="font-size:50px" class="fab fa-python"></i>
            </div>
            <div class="col">
                <i style="font-size:50px" class="fas fa-mobile"></i>
            </div>
            
          </div>
        </div>

        <div class="row">
          <div class="col"> Angular </div>
          <div class="col"> Django - Opencv</div>
          <div class="col">Flutter</div>

        </div>

        </div>


      </div>

    </div>

  </div>
